* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111;
    font-family: Arial, sans-serif;
}


.calculator {
    background: #3b3b3b;   
    padding: 25px;
    border-radius: 25px;
    width: 360px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.6);
}


.display {
    background: black;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 25px;
    text-align: right;
    min-height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#expression {
    color: #888;
    font-size: 20px;
    min-height: 30px;
}


#result {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 42px;
    font-weight: bold;
    color: white;
}



.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}


button {
    padding: 20px;
    font-size: 22px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: #2f2f2f;
    color: white;
    transition: 0.2s ease;
}


button:hover {
    opacity: 0.85;
}


.operator {
    background: #4da6ff;
}


.equal {
    background: #ff7a45;
    color: white;
}


.delete {
    background: #ff4d4d;
}


.clear {
    background: #ff6b6b;
}


.zero {
    grid-column: span 2;
    border-radius: 40px;
}

.cursor {
    width: 3px;
    height: 45px;
    background: #ff4d4d; 
    margin-left: 5px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
